### Ques 1. Write a Python program to remove duplicates from a list.

In [1]:
# Intialize an array
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

### Ques 2. Write a Python program to combine two dictionary adding values for common keys.

### d1 = {'a': 100, 'b': 200, 'c':300}

### d2 = {'a': 300, 'b': 200, 'd':400}

In [2]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = {}

for i, j in d1.items():

    for x, y in d2.items():

        if i == x:

            d3[i]=(j+y)

print(d3)

{'a': 400, 'b': 400}

### Ques 3.Write a Python program to convert a tuple to a string.

In [3]:
def convertTuple(tup):
        
    str = ''
    for item in tup:
        str = str + item
    return str
 
tuple = ('v', 'i', 'k', 'a', 's')
str = convertTuple(tuple)
print(str)

vikas

### Ques 4.Write a Python program to remove item(s) from set.

In [4]:
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

### Ques 5. Write a Python program to create a symmetric difference.

In [5]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.symmetric_difference(setc2)
print("\nSymmetric difference of setc1 - setc2:")
print(r1)
r2 = setc2.symmetric_difference(setc1)
print("\nSymmetric difference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.symmetric_difference(setn2)
print("\nSymmetric difference of setn1 - setn2:")
print(r1)
r2 = setn2.symmetric_difference(setn1)
print("\nSymmetric difference of setn2 - setn1:")
print(r2)

Original sets:
{'blue', 'green'}
{'blue', 'yellow'}

Symmetric difference of setc1 - setc2:
{'yellow', 'green'}

Symmetric difference of setc2 - setc1:
{'yellow', 'green'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Symmetric difference of setn1 - setn2:
{2, 3, 4, 6, 7, 8, 9}

Symmetric difference of setn2 - setn1:
{2, 3, 4, 6, 7, 8, 9}

### Ques 6.Write a Python program to construct the following pattern, using a nested for loop.
#### *
#### *
#### *
#### *
#### *

In [6]:
def pattern(n):
     for i in range(n):
         for j in range( i+5):
              print("* ")
         print("\r")
 
pattern(1)

*
*
*
*
*

### Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [7]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34